html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Top header (if used) */
#header {
  height: 52px;
  line-height: 52px;
  padding: 0 15px;
  margin: 0;

  background: #0b5ed7;
  color: white;

  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leaflet-control-container {
  background: transparent !important;
}

.leaflet-control {
  background: transparent !important;
  box-shadow: none !important;
}


/* Main app layout */
#app {
  height: calc(100vh - 52px);  /* subtract header height */
  width: 100%;
  position: relative;
}

/* Map fills left side */
#map {
  height: 100%;
  width: 100%;
  display: block;
}

/* Right control panel */
#panel {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 300px;
  z-index: 1000;
  background: rgba(255,255,255,0.95);
  padding: 10px;
  border-radius: 8px;
}

/* Legend */
.legend img {
  background: white;
  padding: 4px;
  border-radius: 6px;
}

/* Modal overlay */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  z-index: 9999;
}

.modal-content {
  background: white;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  border-radius: 8px;
}

#close {
  float: right;
  cursor: pointer;
  font-size: 24px;
}

.aqhi-label {
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  line-height: 30px;

  /* white outline around number */
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff,
     0px  0px 2px #fff;
}

.pa-dot {
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.35));
}
