body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#header {
  background: #0b5ed7;
  color: white;
  padding: 10px;
  font-size: 22px;
}

#gauges {
  height: 520px;
  background: #cfe8f3;
}

#map {
  height: 600px;
}

.legend img { background:white; padding:4px; border-radius:6px; }

.modal { display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,.5); }
.modal-content { background:white; margin:5% auto; padding:20px; width:80%; border-radius:8px; }
#close { float:right; cursor:pointer; font-size:24px; }
