name: Update Data

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - run: pip install pandas
      - run: python python/build_jsons.py
      - run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add data/*
          git commit -m "Auto-update data" || exit 0
          git push
